snippet f "Feminin"
$1, $1, $1$2n f. $0
endsnippet

snippet m "Maskulin" w
$1, $1$2, $1e m. $0
endsnippet

snippet n "Neutrum" w
$1, $1$2, $1 n. $0
endsnippet

snippet so "singular only" w
$1, $1$2, - $0
endsnippet

snippet en "Description" w
$1, $1en, $1en m.
endsnippet

snippet adv "adverb" w
(adv.) $0
endsnippet

snippet ppp "Description" w
(perf.pass.part)
endsnippet

snippet pap "Description" w
(pres.act.part)
endsnippet

