snippet f "Description"
$1, $1, $1n f. $0
endsnippet

snippet m "maskulin" w
$1, $1, $1e m.
endsnippet

snippet en "Description" w
$1, $1en, $1en m.
endsnippet

snippet ppp "Description" w
(perf.pass.part)
endsnippet

snippet pap "Description" w
(pres.act.part)
endsnippet

