snippet main "main function" w
int main(void)
{
	$0
	return 0;
}
endsnippet

snippet io "stdio" w
# include <stdio.h>
endsnippet
snippet pr "printf" w
printf("$0");
endsnippet
snippet sc "scanf" w
scanf("%$1", &$0);
endsnippet

snippet math "math" w
# include <math.h>
endsnippet
