snippet test "description"
test ${VISUAL}$1 here
endsnippet

snippet wd "Wang Dali" w
Wang Dali:
endsnippet
snippet a "Angestellte" w
Angestellte:
endsnippet


snippet diff "tell difference to Bing" w
What's the difference between "$1" and "$0"?
endsnippet

snippet v "value" w
value(${VISUAL})
endsnippet
