snippet wd "Wang Dali" w
Wang Dali
endsnippet
snippet hw "Herr Wang" w
Herr Wang
endsnippet
snippet pp "Pöppelmann" w
Pöppelmann
endsnippet
snippet mp "Max Pöppelmann" w
Max Pöppelmann
endsnippet
snippet Mp "Mary Pöppelmann" w
Mary Pöppelmann
endsnippet
snippet a "Arzthelferin:" w
Arzthelferin:
endsnippet
snippet w "Wang:" w
Wang:
endsnippet
snippet l "Li Ming:" w
Li Ming:
endsnippet

