snippet test "description"
test ${VISUAL}$1 here
endsnippet

snippet diff "tell difference to Bing" w
What's the difference between "$1" and "$0"?
endsnippet

snippet v "value" w
value(${VISUAL})
endsnippet

snippet nod "node" w
{
    tbl/id:
    , from:
    , from-scr:
    , to:
    , to-src:
}
endsnippet

snippet df "Deutsch Frage" w
这句话有问题吗？
endsnippet
