snippet h "highlight"
hi ${VISUAL}$0 cterm=bold ctermfg=red ctermbg=none
endsnippet

snippet fu "viml function"
fu! $0()
endf
endsnippet

snippet for "for loop" w
for ${1} in ${2}
	${3}
endfor
endsnippet

